@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@200;300;400;500;600;700&display=swap');

:root {
    // Color
    --primary: #fe2c55;
    --transparent: transparent;
    --white: #fff;
    --black: #000;
    --gray: #1618231f;

    --pri-100: rgb(22 24 35); // text
    --pri-075: rgba(22, 24, 35, 0.75); // title
    --pri-050: rgba(22, 24, 35, 0.5); // describe
    --pri-020: rgba(22, 24, 35, 0.2); // border/divider when hover 1
    --pri-012: rgba(22, 24, 35, 0.12); // border/divider 2
    --pri-006: rgba(22, 24, 35, 0.06); // background button/ scrollbar
    --pri-003: rgba(22, 24, 35, 0.03); // background hover

    // DefaultLayout
    --default-layout-header-height: 60px;
    --default-layout-sidebar-width: 356px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--pri-100);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--pri-075);
    text-decoration: none;
}

// Custom Tippy default
.tippy-box {
    line-height: 2.2rem;
    padding: 3px 0;
    border-radius: 8px;
    background-color: rgba(84, 84, 84, 0.92);

    .tippy-content {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
}
