.menu-list {
    width: 224px;
    position: relative;

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid var(--white);
        position: absolute;
        top: -8px;
        right: 21px;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    display: flex;
}

.back-btn {
    width: 50px;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}
