.search,
.search-results {
    width: 361px;
}

.search {
    height: var(--search-height);
    padding-left: 16px;
    border-radius: var(--search-border-radius);
    background-color: var(--pri-006);
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 1.5px solid transparent;

    input {
        height: 100%;
        background-color: transparent;
        font-size: 1.5rem;
        color: var(--black);
        caret-color: var(--primary);
        flex: 1;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        width: 1px;
        height: calc(var(--search-height) - 2 * var(--search-height-spacer));
        background-color: var(--pri-012);
        position: absolute;
        top: 50%;
        right: var(--search-button-width);
        transform: translateY(-50%);
    }

    &:focus-within {
        border-color: var(--pri-020);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: var(--fontWeightSemibold);
    color: var(--pri-050);
}

.search-more {
    padding: 15px 16px;

    font-size: 16px;
    font-weight: var(--fontWeightSemibold);
    line-height: 22px;
    cursor: pointer;

    &:hover {
        background-color: var(--pri-003);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.6rem;
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    background: transparent;

    &:hover {
        background-color: var(--pri-003);
        cursor: pointer;
    }

    &:active {
        background-color: var(--pri-006);
    }
}
