.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-height-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width, 1150px);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
    }
}

// Action
.actions {
    display: flex;
    align-items: center;
}

// user login
.action_btn {
    cursor: pointer;

    + .action_btn {
        margin-left: 16px;
    }
}

.message_btn,
.inbox_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 36px;
    height: 36px;
    background-color: transparent;
}

.user_btn {
    width: 32px;
    height: 32px;
    margin-left: 24px;
    border-radius: 50%;
    cursor: pointer;
}

// user unlogin
.more-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 18px;
    padding: 10px;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}
